@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your other global styles here */

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
  --gamecock-garnet: 115, 0, 10;
  --gamecock-black: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

h1 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.calendar-container {
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
}
